<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <i class="{{this.icon}}"></i>
    {{this.category}}
    {{this.name}}
    {{this.date}}
    {{this.amount}}
  </li>
  {{/each}}
</ul>