{{!-- Filter bar --}}
<div class="filterBar mt-2 mx-auto" style="width:400px">
  <form action="/" method="GET">
    <select class="form-control" name="filter" onchange="this.form.submit()">
      <option value="">全部類別</option>
      {{#each categories}}
      {{selectOption ../filter this.name }}
      {{/each}}
    </select>
  </form>
</div>

{{!-- Display area --}}
<div class="container" style="width:680px;">
  <div class="mt-2 mx-auto" style="width:200px">
    <span class="text-left">總金額:</span>
    <h1 class="text-center text-primary">{{calculateTotal records}}</h1>
  </div>

  <ul class="list-group">
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <i class="{{this.icon}} fa-2x col-1 d-flex align-items-center text-info"></i>
        <div class="col-6">
          <h5>{{this.name}}</h5>
          <small>{{this.date}}</small>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-end">
          {{this.amount}}
        </div>
        <div class="col-3 d-flex align-items-center" style="justify-content: space-around;">
          <a class="btn btn-outline-primary" href="/records/{{this._id}}/edit" role="button">編輯</a>
          <form action="/records/{{this._id}}/?_method=DELETE" method="POST" onSubmit="return confirm('確定要刪除這筆資料嗎?')"
            style="display: inline;"><button type="submit" class="btn btn-outline-danger">刪除</button></form>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="mt-2 mx-auto text-center">
    <a class="btn btn-primary" href="/records/new" role="button">新增支出</a>
  </div>
</div>